@import './vars.scss';

/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: 'Oswald';
  font-weight: 400;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 24px;
  color: $main-font;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

#root {
  height: 100%;
}

.container {
  width: 96%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.37rem;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  padding: 8px 12px;
  border: 1px solid $black;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease;

  &:hover {
    background-color: $main-color;
    color: $white;
    border-color: transparent;
  }
}

.section-title {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 4rem;  
  text-transform: uppercase;
}

.cardTitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #333333;
}